main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

button {
  font-size: 1.2rem;
}

button#block:focus {
  border-color: red;
}

button#hello:focus {
  border-color: lightgreen;
}

.text-disabled {
  color: grey;
  text-decoration: line-through;
}

.log {
  width: max-content;
  padding: 0.25rem;
  margin: 0.25rem;
}

